{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="pt-md-5 pb-md-4 mx-auto">
    <h2>
      Votes
      <small class="text-muted">Dataset</small>
    </h2>
  </div>
  <div class="card mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col-md-6">
          {% include 'search_form.html' %}
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Bill ID</th>
          </tr>
        </thead>
        <tbody>
          {% for vote in page_obj %}
          <tr>
            <td>{{ vote.id }}</td>
            <td>{{ vote.bill_id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="col">{% include 'page_nav.html' %}</div>
    </div>
  </div>
</div>
{% endblock %}